@model Project_Book_Shop.Models.Product

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.CoverImage" class="img-fluid" alt="@Model.Title">
        </div>
        <div class="col-md-6">
            <h2>@Model.Title</h2>
            <p><strong>Author:</strong> @Model.Author</p>
            <p><strong>Publisher:</strong> @Model.Publisher</p>
            <p><strong>Price:</strong> $@Model.Price</p>
            <p><strong>Description:</strong> @Model.Description</p>
            <p><strong>Category ID:</strong> @Model.CategoryId</p>
        </div>
    </div>
</div>
